a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: "";
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

@keyframes blink {
    0% {
        opacity: 1
    }

    20% {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

@font-face {
    font-family: Noto Sans;
    src: url(https://www.capcom-games.com/common/font/SourceSans3-VF.woff2) format("woff2");
    font-display: swap;
    font-weight: 100 900
}

@font-face {
    font-family: Noto Sans JP;
    src: url(https://www.capcom-games.com/common/font/SourceHanSansJP-VF.otf.woff2) format("woff2");
    font-display: swap;
    font-weight: 100 900
}

@font-face {
    font-family: Oswald;
    src: url(/6/assets/images/common/font/Oswald-VariableFont_wght.woff) format("woff"),url(/6/assets/images/common/font/Oswald-VariableFont_wght.woff2) format("woff2");
    font-display: swap;
    font-weight: 100 900
}

html {
    height: -webkit-fill-available;
    -webkit-text-size-adjust: 100%
}

    html.no_scroll {
        overflow-y: hidden
    }

body {
    background: #000;
    color: #ff0c0c;
    font-family: Noto Sans,sans-serif;
    line-height: 1.5
}

    body:lang(ja) {
        font-family: Noto Sans JP,sans-serif
    }

    body.no_scroll {
        overflow-y: hidden
    }

main {
    display: block
}

::-webkit-search-cancel-button {
    display: none
}

::-ms-clear {
    visibility: hidden
}

a {
    color: #fff
}

    a, a:active, a:hover {
        text-decoration: none
    }

input {
    outline: none
}

    input[hidden] {
        display: none
    }

.contents {
    position: relative;
    width: 100%;
    overflow: hidden
}

    .contents.page__battlehub {
        background: url(/6/assets/images/mode/bh/bg.png) repeat top #fff fixed;
        background-size: cover
    }

#cusacrm-popup {
    z-index: 1000
}

    #cusacrm-popup #cusacrm-popup-close {
        top: 5vh;
        right: 5vw;
        z-index: 1
    }

        #cusacrm-popup #cusacrm-popup-close:hover {
            opacity: .7
        }

.cusacrm-popup-container {
    position: fixed
}

@keyframes background_fadeout {
    0% {
        opacity: .7
    }

    to {
        opacity: 0
    }
}

@keyframes background_fadein {
    0% {
        opacity: 0
    }

    to {
        opacity: .7
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/6/assets/images/character/bg_character_modal_pattern.png) repeat,url(/6/assets/images/character/bg_character_modal.jpg) no-repeat 50% #000;
    overflow: auto;
    z-index: 200;
    transition: opacity .3s,visibility .3s
}

@media screen and (min-width: 768px) {
    .modal {
        background-size: min(3.125vw,60px),min(104.1666666667vw,2000px)
    }
}

@media screen and (max-width: 767.9px) {
    .modal {
        background-size: min(3.9113428944vw,30px),min(156.4537157757vw,1200px)
    }
}

.modal__bg {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.modal section {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%)
}

@media screen and (min-width: 768px) {
    .modal section {
        width: min(83.3333333333vw,1600px)
    }
}

@media screen and (min-width: 768px)and (max-height:1100px) {
    .modal section {
        top: min(4.1666666667vw,80px);
        transform: translate(50%)
    }
}

@media screen and (min-width: 768px)and (min-width:1700px) {
    .modal section {
        top: min(4.1666666667vw,80px);
        transform: translate(50%)
    }
}

@media screen and (max-width: 767.9px) {
    .modal section {
        width: min(91.2646675359vw,700px)
    }
}

.modal .close {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsla(0,0%,100%,.4);
    background: rgba(0,0,0,.4);
    cursor: pointer;
    z-index: 9
}

@media screen and (min-width: 768px) {
    .modal .close {
        position: absolute;
        top: calc(1px - min(3.3333333333vw,64px));
        right: calc(1px - min(3.3333333333vw,64px));
        width: min(5.7291666667vw,110px);
        height: min(5.7291666667vw,110px);
        margin: min(1.0416666667vw,20px) auto min(4.1666666667vw,80px)
    }
}

@media screen and (max-width: 767.9px) {
    .modal .close {
        width: min(11.7340286832vw,90px);
        height: min(11.7340286832vw,90px);
        margin: min(2.6075619296vw,20px) auto min(5.2151238592vw,40px)
    }
}

@media screen and (min-width: 768px) {
    .modal .close:hover {
        background: hsla(0,0%,100%,.1)
    }

    .modal .close img {
        width: min(2.9166666667vw,56px);
        height: min(2.9166666667vw,56px)
    }
}

@media screen and (max-width: 767.9px) {
    .modal .close img {
        width: min(3.259452412vw,25px) !important;
        height: min(3.259452412vw,25px) !important
    }
}

.pagination {
    display: flex;
    justify-content: center
}

@media screen and (min-width: 768px) {
    .pagination {
        min-height: min(2.6041666667vw,50px)
    }
}

@media screen and (max-width: 767.9px) {
    .pagination {
        margin: min(5.2151238592vw,40px) 0 0;
        min-height: min(6.518904824vw,50px)
    }
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid hsla(0,0%,100%,.5);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    color: #fff;
    font-family: Oswald,sans-serif;
    cursor: pointer
}

@media screen and (min-width: 768px) {
    .pagination li {
        width: min(1.875vw,36px);
        height: min(2.6041666667vw,50px);
        margin: 0 min(.15625vw,3px);
        font-size: min(.9375vw,18px)
    }
}

@media screen and (max-width: 767.9px) {
    .pagination li {
        width: min(6.518904824vw,50px);
        height: min(9.1264667536vw,70px);
        margin: 0 min(.6518904824vw,5px);
        font-size: min(2.3468057366vw,18px)
    }
}

.pagination li.active, .pagination li:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #191919
}

.pagination li.first, .pagination li.last, .pagination li.next, .pagination li.prev {
    position: relative;
    background: none
}

    .pagination li.first:after, .pagination li.first:before, .pagination li.last:after, .pagination li.last:before, .pagination li.next:after, .pagination li.next:before, .pagination li.prev:after, .pagination li.prev:before {
        content: "";
        position: relative;
        transform-origin: center
    }

@media screen and (min-width: 768px) {
    .pagination li.first:after, .pagination li.first:before, .pagination li.last:after, .pagination li.last:before, .pagination li.next:after, .pagination li.next:before, .pagination li.prev:after, .pagination li.prev:before {
        width: min(.4166666667vw,8px);
        height: min(.4166666667vw,8px);
        border-top: min(.1041666667vw,2px) solid #fffae5;
        border-right: min(.1041666667vw,2px) solid #fffae5
    }
}

@media screen and (max-width: 767.9px) {
    .pagination li.first:after, .pagination li.first:before, .pagination li.last:after, .pagination li.last:before, .pagination li.next:after, .pagination li.next:before, .pagination li.prev:after, .pagination li.prev:before {
        width: min(1.0430247718vw,8px);
        height: min(1.0430247718vw,8px);
        border-top: min(.260756193vw,2px) solid #fffae5;
        border-right: min(.260756193vw,2px) solid #fffae5
    }
}

@media screen and (min-width: 768px) {
    .pagination li.first:hover:after, .pagination li.first:hover:before, .pagination li.last:hover:after, .pagination li.last:hover:before, .pagination li.next:hover:after, .pagination li.next:hover:before, .pagination li.prev:hover:after, .pagination li.prev:hover:before {
        border-top: min(.1041666667vw,2px) solid #eaeaea;
        border-right: min(.1041666667vw,2px) solid #eaeaea
    }
}

@media screen and (max-width: 767.9px) {
    .pagination li.first:hover:after, .pagination li.first:hover:before, .pagination li.last:hover:after, .pagination li.last:hover:before, .pagination li.next:hover:after, .pagination li.next:hover:before, .pagination li.prev:hover:after, .pagination li.prev:hover:before {
        border-top: min(.260756193vw,2px) solid #eaeaea;
        border-right: min(.260756193vw,2px) solid #eaeaea
    }
}

.pagination li.prev:before {
    transform: translateX(50%) rotate(225deg)
}

.pagination li.prev:after {
    display: none
}

.pagination li.first:after, .pagination li.first:before {
    transform: translateX(50%) rotate(225deg)
}

.pagination li.first:after {
    left: min(-.0520833333vw,-1px)
}

@media screen and (min-width: 768px) {
    .pagination li.next {
        width: min(5.7291666667vw,110px)
    }
}

@media screen and (max-width: 767.9px) {
    .pagination li.next {
        width: min(20.2086049544vw,155px)
    }
}

.pagination li.next:before {
    transform: rotate(45deg)
}

.pagination li.next:after {
    display: none
}

.pagination li.last:after, .pagination li.last:before {
    transform: rotate(45deg)
}

@media screen and (min-width: 768px) {
    .pagination li.last:after {
        left: calc(1px - min(.2083333333vw,4px))
    }
}

@media screen and (max-width: 767.9px) {
    .pagination li.last:after {
        left: calc(1px - min(.5215123859vw,4px))
    }
}

.pagination li.disabled {
    border: 1px solid #fff;
    opacity: .2;
    pointer-events: none
}

.swiper-wrapper {
    align-items: flex-end
}

.swiper-button-prev {
    position: absolute;
    z-index: 100;
    transition: opacity .3s
}

    .swiper-button-prev:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg)
    }

    .swiper-button-prev:hover {
        cursor: pointer;
        opacity: .7
    }

@media screen and (min-width: 768px) {
    .swiper-button-prev {
        top: min(4.1666666667vw,80px) !important;
        right: min(15.625vw,300px) !important;
        width: min(10.4166666667vw,200px);
        height: min(2.6041666667vw,50px);
        border-left: min(.0520833333vw,1px) solid hsla(0,0%,100%,.3);
        border-right: min(.0520833333vw,1px) solid hsla(0,0%,100%,.3)
    }

        .swiper-button-prev:before {
            width: min(1.3020833333vw,25px);
            height: min(1.3020833333vw,25px);
            border-left: min(.2604166667vw,5px) solid #fff;
            border-bottom: min(.2604166667vw,5px) solid #fff
        }
}

.swiper-button-next {
    position: absolute;
    z-index: 100;
    transition: opacity .3s
}

    .swiper-button-next:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg) scale(-1)
    }

    .swiper-button-next:hover {
        cursor: pointer;
        opacity: .7
    }

@media screen and (min-width: 768px) {
    .swiper-button-next {
        top: min(4.1666666667vw,80px) !important;
        right: min(5.2083333333vw,100px) !important;
        width: min(10.4166666667vw,200px);
        height: min(2.6041666667vw,50px);
        border-right: min(.0520833333vw,1px) solid hsla(0,0%,100%,.3)
    }

        .swiper-button-next:before {
            width: min(1.3020833333vw,25px);
            height: min(1.3020833333vw,25px);
            border-left: min(.2604166667vw,5px) solid #fff;
            border-bottom: min(.2604166667vw,5px) solid #fff
        }
}

.swiper-button-disabled {
    opacity: .5;
    pointer-events: none
}

.page__column .pagination li {
    background: #000;
    border: min(.0520833333vw,1px) solid #fff
}

    .page__column .pagination li.active, .page__column .pagination li:hover {
        background: #fff
    }

@media screen and (min-width: 768px) {
    .page__column .pagination li.first:hover:after, .page__column .pagination li.first:hover:before, .page__column .pagination li.last:hover:after, .page__column .pagination li.last:hover:before, .page__column .pagination li.next:hover:after, .page__column .pagination li.next:hover:before, .page__column .pagination li.prev:hover:after, .page__column .pagination li.prev:hover:before {
        border-top: min(.1041666667vw,2px) solid #000;
        border-right: min(.1041666667vw,2px) solid #000
    }
}

@media screen and (max-width: 767.9px) {
    .page__column .pagination li.first:hover:after, .page__column .pagination li.first:hover:before, .page__column .pagination li.last:hover:after, .page__column .pagination li.last:hover:before, .page__column .pagination li.next:hover:after, .page__column .pagination li.next:hover:before, .page__column .pagination li.prev:hover:after, .page__column .pagination li.prev:hover:before {
        border-top: min(.260756193vw,2px) solid #000;
        border-right: min(.260756193vw,2px) solid #000
    }
}

.page__column .pagination li.disabled {
    opacity: .4
}

.news__centerText {
    text-align: center
}

.news__smallText {
    display: block;
    line-height: 1.7
}

@media screen and (min-width: 768px) {
    .news__smallText {
        font-size: min(.78125vw,15px)
    }
}

@media screen and (max-width: 767.9px) {
    .news__smallText {
        font-size: min(1.9556714472vw,15px)
    }
}

.news__attention {
    background: hsla(0,0%,100%,.25);
    box-sizing: border-box;
    font-weight: 700;
    text-align: center
}

@media screen and (min-width: 768px) {
    .news__attention {
        padding: min(1.0416666667vw,20px);
        border-radius: min(.5208333333vw,10px)
    }
}

@media screen and (max-width: 767.9px) {
    .news__attention {
        padding: min(3.9113428944vw,30px);
        border-radius: min(1.3037809648vw,10px);
        text-align: left
    }
}

.news__imgList {
    display: flex
}

@media screen and (min-width: 768px) {
    .news__imgList .news__img:not(:last-child) {
        margin: 0 min(.5208333333vw,10px) 0 0
    }
}

@media screen and (max-width: 767.9px) {
    .news__imgList {
        flex-direction: column
    }

        .news__imgList .news__img:not(:last-child) {
            margin: 0 0 min(6.518904824vw,50px)
        }
}

.news__img {
    display: flex;
    overflow: hidden;
    width: 100%
}

    .news__img.yoko img {
        width: 100%
    }

    .news__img.tate img {
        width: auto
    }

    .news__img a {
        display: flex
    }

    .news__img img {
        display: block;
        margin: 0 auto;
        object-fit: cover
    }

@media screen and (max-width: 767.9px) {
    .news__img img {
        width: 100%
    }
}

.news__linkText {
    color: #40befb;
    text-decoration: underline;
    transition: opacity .3s
}

    .news__linkText:hover {
        opacity: .5
    }

.news__linkBtn a {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    font-family: Oswald,sans-serif;
    font-weight: 700
}

@media screen and (min-width: 768px) {
    .news__linkBtn a {
        position: relative;
        width: min(15.625vw,300px);
        height: min(2.7083333333vw,52px);
        box-sizing: border-box;
        -webkit-clip-path: polygon(5% 0,100% 0,100% 80%,95% 100%,0 100%,0 25%);
        clip-path: polygon(5% 0,100% 0,100% 80%,95% 100%,0 100%,0 25%);
        font-size: min(1.3541666667vw,26px);
        transition: all .3s ease-out;
        cursor: pointer
    }
}

@media screen and (max-width: 767.9px) {
    .news__linkBtn a {
        width: min(46.2842242503vw,355px);
        height: min(7.8226857888vw,60px);
        -webkit-clip-path: polygon(5% 0,100% 0,100% 85%,95% 100%,0 100%,0 25%);
        clip-path: polygon(5% 0,100% 0,100% 85%,95% 100%,0 100%,0 25%);
        font-size: min(3.1290743155vw,24px)
    }
}

.news__linkBtn a svg {
    fill: #000;
    stroke: none;
    transition: all .2s ease-out
}

@media screen and (min-width: 768px) {
    .news__linkBtn a svg {
        height: min(1.25vw,24px)
    }
}

@media screen and (max-width: 767.9px) {
    .news__linkBtn a svg {
        height: min(3.1290743155vw,24px)
    }
}

.news__linkBtn a:active, .news__linkBtn a:hover {
    background-color: #ccc;
    transition: all .15s ease-out
}

@media screen and (min-width: 768px) {
    .news__linkBtn a:active, .news__linkBtn a:hover {
        letter-spacing: .1em
    }
}

@media screen and (max-width: 767.9px) {
    .news__linkBtn a:active, .news__linkBtn a:hover {
        letter-spacing: .1em
    }
}

@media screen and (min-width: 768px) {
    .news__linkBtn a:active svg, .news__linkBtn a:hover svg {
        height: min(1.3541666667vw,26px)
    }
}

@media screen and (max-width: 767.9px) {
    .news__linkBtn a:active svg, .news__linkBtn a:hover svg {
        height: min(3.3898305085vw,26px)
    }
}

@media screen and (min-width: 768px) {
    .news__list li {
        margin: 0 0 min(-.78125vw,-15px)
    }
}

@media screen and (max-width: 767.9px) {
    .news__list li {
        margin: 0 0 min(-2.6075619296vw,-20px)
    }
}

@media screen and (min-width: 768px) {
    .column__imgBig {
        position: relative;
        width: 160% !important;
        left: -30%
    }
}

.column__imgText {
    display: flex;
    width: 100%;
    background: #e7e6e6
}

    .column__imgText .text {
        box-sizing: border-box
    }

    .column__imgText .img {
        white-space: normal;
        overflow: hidden
    }

        .column__imgText .img img {
            width: 100%;
            height: 100% !important;
            object-fit: cover
        }

@media screen and (min-width: 768px) {
    .column__imgText {
        height: min(19.7916666667vw,380px);
        justify-content: center
    }

        .column__imgText .text {
            width: 55%;
            padding: min(1.0416666667vw,20px)
        }

        .column__imgText .img {
            width: 45%;
            height: 100%
        }
}

@media screen and (max-width: 767.9px) {
    .column__imgText {
        flex-direction: column-reverse
    }

        .column__imgText .text {
            padding: min(3.9113428944vw,30px)
        }

        .column__imgText .img {
            height: min(65.1890482399vw,500px)
        }
}

.column__talk {
    white-space: normal
}

    .column__talk .text {
        background: #e7e6e6;
        box-sizing: border-box
    }

@media screen and (min-width: 768px) {
    .column__talk .text {
        border-radius: min(1.0416666667vw,20px);
        padding: min(1.0416666667vw,20px)
    }
}

@media screen and (max-width: 767.9px) {
    .column__talk .text {
        border-radius: min(2.6075619296vw,20px);
        padding: min(3.9113428944vw,30px)
    }
}

@media screen and (min-width: 768px) {
    .column__talk .center, .column__talk .left, .column__talk .right {
        margin: 0 0 min(2.0833333333vw,40px)
    }
}

@media screen and (max-width: 767.9px) {
    .column__talk .center, .column__talk .left, .column__talk .right {
        margin: 0 0 min(5.2151238592vw,40px)
    }
}

.column__talk .left, .column__talk .right {
    display: flex;
    justify-content: space-between
}

    .column__talk .left .img, .column__talk .right .img {
        display: flex;
        flex-direction: column
    }

        .column__talk .left .img img, .column__talk .right .img img {
            display: block
        }

@media screen and (min-width: 768px) {
    .column__talk .left .img img, .column__talk .right .img img {
        width: min(4.6875vw,90px);
        height: min(4.6875vw,90px);
        margin: min(1.0416666667vw,20px) 0 0
    }
}

@media screen and (max-width: 767.9px) {
    .column__talk .left .img img, .column__talk .right .img img {
        width: min(11.7340286832vw,90px);
        height: min(11.7340286832vw,90px);
        margin: min(2.6075619296vw,20px) 0 0
    }
}

.column__talk .left .img p, .column__talk .right .img p {
    text-align: center
}

@media screen and (min-width: 768px) {
    .column__talk .left .img p, .column__talk .right .img p {
        font-size: min(.7291666667vw,14px)
    }
}

@media screen and (max-width: 767.9px) {
    .column__talk .left .img p, .column__talk .right .img p {
        font-size: min(1.8252933507vw,14px)
    }
}

.column__talk .left .text, .column__talk .right .text {
    position: relative
}

    .column__talk .left .text:before, .column__talk .right .text:before {
        content: "";
        position: absolute
    }

@media screen and (min-width: 768px) {
    .column__talk .left .text, .column__talk .right .text {
        width: min(25vw,480px)
    }

        .column__talk .left .text:before, .column__talk .right .text:before {
            top: min(2.0833333333vw,40px)
        }
}

@media screen and (max-width: 767.9px) {
    .column__talk .left .text:before, .column__talk .right .text:before {
        top: min(5.2151238592vw,40px)
    }
}

@media screen and (min-width: 768px) {
    .column__talk .left .text:before {
        left: -3%;
        border-right: min(.9375vw,18px) solid #e7e6e6;
        border-top: min(.5208333333vw,10px) solid transparent;
        border-bottom: min(.5208333333vw,10px) solid transparent
    }
}

@media screen and (max-width: 767.9px) {
    .column__talk .left .text {
        margin: 0 0 0 min(5.2151238592vw,40px)
    }

        .column__talk .left .text:before {
            left: min(-1.6949152542vw,-13px);
            border-right: min(3.6505867014vw,28px) solid #e7e6e6;
            border-top: min(2.6075619296vw,20px) solid transparent;
            border-bottom: min(2.6075619296vw,20px) solid transparent
        }
}

.column__talk .right {
    flex-direction: row-reverse
}

@media screen and (min-width: 768px) {
    .column__talk .right .text:before {
        right: -3%;
        border-left: min(.9375vw,18px) solid #e7e6e6;
        border-top: min(.5208333333vw,10px) solid transparent;
        border-bottom: min(.5208333333vw,10px) solid transparent
    }
}

@media screen and (max-width: 767.9px) {
    .column__talk .right .text {
        margin: 0 min(5.2151238592vw,40px) 0 0
    }

        .column__talk .right .text:before {
            right: min(-1.6949152542vw,-13px);
            border-left: min(3.6505867014vw,28px) solid #e7e6e6;
            border-top: min(2.6075619296vw,20px) solid transparent;
            border-bottom: min(2.6075619296vw,20px) solid transparent
        }
}

.column__talk__simple {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

@media screen and (min-width: 768px) {
    .column__talk__simple p {
        margin: 0 0 min(2.0833333333vw,40px)
    }

    .column__talk__simple .name {
        width: min(7.2916666667vw,140px);
        text-align: right
    }

    .column__talk__simple .text {
        width: min(21.875vw,420px)
    }
}

@media screen and (max-width: 767.9px) {
    .column__talk__simple p {
        margin: 0 0 min(7.8226857888vw,60px)
    }

    .column__talk__simple .name {
        width: 20%;
        text-align: right
    }

    .column__talk__simple .text {
        width: 80%;
        padding: 0 0 0 5%;
        box-sizing: border-box
    }
}

.column__mincho {
    font-family: 游明朝,Yu Mincho,YuMincho,Hiragino Mincho Pro,serif
}

.pc__hide {
    display: none
}

.list__disc {
    padding-left: 1em
}

.list__disc, .list__line {
    display: block;
    text-indent: -1em
}

.list__line {
    padding-left: 2em
}

@media screen and (min-width: 768px) {
    .hide-pc {
        display: none
    }
}

@media screen and (max-width: 767.9px) {
    .hide-sp {
        display: none
    }
}

.content--textlink {
    color: #f4ab0d;
    text-decoration: underline
}

    .content--textlink:hover {
        text-decoration: none
    }

#title_footer {
    position: relative;
    border-top: 1px solid #333;
    background: #000;
    z-index: 10
}

@keyframes custom_error_series_blink__9e_Wk {
    0% {
        opacity: 1
    }

    20% {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.custom_error_series_wrapper__z2t56 {
    min-height: 100vh;
    background: url(/6/assets/images/series/noise.png) repeat,url(/6/assets/images/series/bg.jpg) no-repeat top fixed;
    background-size: auto,cover
}

    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 {
        position: relative;
        margin: 0 auto;
        z-index: 10
    }

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 {
        padding: min(9.375vw,180px) 0
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 {
        padding: min(10.4302477184vw,80px) 0
    }
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_logo__KOzrp {
        width: min(17.3958333333vw,334px);
        margin: 0 auto min(7.8125vw,150px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_logo__KOzrp {
        width: min(43.5462842243vw,334px);
        margin: 0 auto min(9.778357236vw,75px)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi h1 {
    color: #414141;
    font-family: Oswald,sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.1
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi h1 {
        width: min(16.6145833333vw,319px);
        margin: 0 auto min(5.46875vw,105px);
        font-size: min(10.4166666667vw,200px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi h1 {
        width: min(41.5906127771vw,319px);
        margin: 0 auto min(13.6897001304vw,105px);
        font-size: min(26.075619296vw,200px)
    }
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi h1.custom_error_series_maintenance__tQbSZ {
        width: auto;
        margin: 0 0 min(2.6041666667vw,50px);
        font-size: min(1.6666666667vw,32px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi h1.custom_error_series_maintenance__tQbSZ {
        width: auto;
        margin: 0 0 min(6.518904824vw,50px);
        font-size: min(5.2151238592vw,40px)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi h2 {
    color: #414141;
    text-align: center
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi h2 {
        margin: 0 0 min(2.0833333333vw,40px);
        font-size: min(1.3541666667vw,26px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi h2 {
        margin: 0 min(5.2151238592vw,40px) min(5.2151238592vw,40px);
        font-size: min(3.1290743155vw,24px)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_text__2MqGy {
    color: #414141;
    text-align: center
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_text__2MqGy {
        width: min(67.7083333333vw,1300px);
        margin: 0 auto min(4.1666666667vw,80px);
        font-size: min(1.3541666667vw,26px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_text__2MqGy {
        margin: 0 min(5.2151238592vw,40px) min(10.4302477184vw,80px);
        font-size: min(3.1290743155vw,24px)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btn__mpr_6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    border: 1px solid #ffdf7b;
    background: #a78312;
    color: #fff;
    cursor: pointer
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btn__mpr_6 {
        width: min(20.8333333333vw,400px);
        height: min(3.9583333333vw,76px);
        margin: 0 auto min(5.2083333333vw,100px);
        -webkit-clip-path: polygon(min(.8333333333vw,16px) 0,100% 0,100% calc(100% - min(.8333333333vw, 16px)),calc(100% - min(.8333333333vw, 16px)) 100%,0 100%,0 min(.8333333333vw,16px));
        clip-path: polygon(min(.8333333333vw,16px) 0,100% 0,100% calc(100% - min(.8333333333vw, 16px)),calc(100% - min(.8333333333vw, 16px)) 100%,0 100%,0 min(.8333333333vw,16px));
        font-size: min(1.25vw,24px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btn__mpr_6 {
        width: min(82.1382007823vw,630px);
        height: min(14.3415906128vw,110px);
        margin: 0 auto min(13.037809648vw,100px);
        -webkit-clip-path: polygon(min(2.0860495437vw,16px) 0,100% 0,100% calc(100% - min(2.0860495437vw, 16px)),calc(100% - min(2.0860495437vw, 16px)) 100%,0 100%,0 min(2.0860495437vw,16px));
        clip-path: polygon(min(2.0860495437vw,16px) 0,100% 0,100% calc(100% - min(2.0860495437vw, 16px)),calc(100% - min(2.0860495437vw, 16px)) 100%,0 100%,0 min(2.0860495437vw,16px));
        font-size: min(3.1290743155vw,24px)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btn__mpr_6:before {
    content: "";
    position: absolute;
    background: #ffdf7b;
    transform: rotate(46deg)
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btn__mpr_6:before {
        top: min(.3645833333vw,7px);
        left: min(.78125vw,15px);
        width: 2px;
        height: min(2.0833333333vw,40px);
        transform-origin: min(1.0416666667vw,20px) 0
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btn__mpr_6:before {
        top: min(.9126466754vw,7px);
        left: min(1.9556714472vw,15px);
        width: 2px;
        height: min(5.2151238592vw,40px);
        transform-origin: min(2.6075619296vw,20px) 0
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btn__mpr_6:after {
    content: "";
    position: absolute;
    width: 2px;
    background: #ffdf7b;
    transform: rotate(44deg)
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btn__mpr_6:after {
        bottom: calc(1px - min(.5729166667vw,11px));
        right: min(.2083333333vw,4px);
        height: min(2.0833333333vw,40px);
        transform-origin: center calc(100% - min(1.0416666667vw,20px))
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btn__mpr_6:after {
        bottom: calc(1px - min(1.4341590613vw,11px));
        right: min(.5215123859vw,4px);
        height: min(5.2151238592vw,40px);
        transform-origin: center calc(100% - min(2.6075619296vw,20px))
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK {
    background: rgba(0,0,0,.8)
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK {
        display: flex;
        justify-content: center;
        height: min(20.8333333333vw,400px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK {
        padding: min(10.4302477184vw,80px) 0
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li {
        margin: 0 min(3.90625vw,75px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li {
        margin: 0 auto min(3.90625vw,75px)
    }
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li.custom_error_series_six__PE5h5 .custom_error_series_image__prHxD {
        width: min(26.6666666667vw,512px);
        margin: 0 0 min(3.90625vw,75px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li.custom_error_series_six__PE5h5 .custom_error_series_image__prHxD {
        width: min(66.7535853977vw,512px);
        margin: 0 0 min(9.778357236vw,75px)
    }
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li.custom_error_series_bbc__X_El5 .custom_error_series_image__prHxD {
        width: min(24.5833333333vw,472px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li.custom_error_series_bbc__X_El5 .custom_error_series_image__prHxD {
        width: min(61.5384615385vw,472px)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(120deg,#c32606 30%,#f3a81c 80%,#fdf8a3);
    color: #fff;
    font-family: Oswald,sans-serif;
    cursor: pointer;
    transition: box-shadow .3s,transform .3s
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li a {
        width: min(29.0625vw,558px);
        height: min(5.7291666667vw,110px);
        box-shadow: min(.15625vw,3px) min(.2083333333vw,4px) 0 #000;
        font-size: min(1.5625vw,30px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li a {
        width: min(72.7509778357vw,558px);
        height: min(14.3415906128vw,110px);
        box-shadow: min(.3911342894vw,3px) min(.5215123859vw,4px) 0 #000;
        font-size: min(3.9113428944vw,30px)
    }
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li a:active, .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li a:hover {
        box-shadow: min(0vw,0px) min(0vw,0px) 0 #000;
        transform: translate(min(.15625vw,3px),min(.2083333333vw,4px))
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li a:active, .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_btnarea__CDdkK li a:hover {
        box-shadow: min(0vw,0px) min(0vw,0px) 0 #000;
        transform: translate(min(.3911342894vw,3px),min(.5215123859vw,4px))
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_series_top__doOKo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: linear-gradient(120deg,#c32606 30%,#f3a81c 80%,#fdf8a3);
    color: #fff;
    font-family: Oswald,sans-serif;
    cursor: pointer;
    transition: box-shadow .3s,transform .3s
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_series_top__doOKo {
        width: min(29.0625vw,558px);
        height: min(5.7291666667vw,110px);
        box-shadow: min(.15625vw,3px) min(.2083333333vw,4px) 0 #000;
        font-size: min(1.5625vw,30px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_series_top__doOKo {
        width: min(72.7509778357vw,558px);
        height: min(14.3415906128vw,110px);
        box-shadow: min(.3911342894vw,3px) min(.5215123859vw,4px) 0 #000;
        font-size: min(3.9113428944vw,30px)
    }
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_series_top__doOKo:active, .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_series_top__doOKo:hover {
        box-shadow: min(0vw,0px) min(0vw,0px) 0 #000;
        transform: translate(min(.15625vw,3px),min(.2083333333vw,4px))
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_series_top__doOKo:active, .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_series_top__doOKo:hover {
        box-shadow: min(0vw,0px) min(0vw,0px) 0 #000;
        transform: translate(min(.3911342894vw,3px),min(.5215123859vw,4px))
    }
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_series_top__doOKo {
        margin: min(3.125vw,60px) auto 0
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_error__7H7s0 .custom_error_series_inner__fa_zi .custom_error_series_series_top__doOKo {
        margin: min(7.8226857888vw,60px) auto 0
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none
}

    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h:before {
        display: block;
        content: "";
        position: fixed;
        top: 0;
        right: 50%;
        width: 1px;
        height: 100vh;
        background: #d8d8d8;
        transform: translateX(50%)
    }

    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_sf__AGuJb .custom_error_series_top__rJIOt {
        display: block;
        position: absolute;
        left: 0;
        background: url(/6/assets/images/series/bg_sf.png) repeat-x 0 0;
        background-size: auto 100%
    }

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_sf__AGuJb .custom_error_series_top__rJIOt {
        top: calc(50% - min(16.6666666667vw,320px)) !important;
        width: min(776.0416666667vw,14900px);
        height: min(14.7916666667vw,284px);
        transform: translateX(-310.4vw);
        animation: custom_error_series_left_to_right___ezCn 50s linear infinite
    }
}

@media screen and (min-width: 768px)and (min-width:1920px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_sf__AGuJb .custom_error_series_top__rJIOt {
        transform: translateX(-5960px);
        animation: custom_error_series_left_to_right_over__2dmnX 100s linear infinite
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_sf__AGuJb .custom_error_series_top__rJIOt {
        top: calc(50% - min(36.5058670143vw,280px)) !important;
        width: min(1738.591916558vw,13335px);
        height: min(33.1160365059vw,254px);
        transform: translateX(-711vw);
        animation: custom_error_series_left_to_right_sp__xTfIz 100s linear infinite
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_sf__AGuJb .custom_error_series_btm__IErtT {
    display: block;
    position: absolute;
    right: 0;
    background: url(/6/assets/images/series/bg_sf.png) repeat-x;
    background-size: auto 100%
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_sf__AGuJb .custom_error_series_btm__IErtT {
        top: calc(50% + min(5.7291666667vw,110px)) !important;
        width: min(776.0416666667vw,14900px);
        height: min(14.7916666667vw,284px);
        transform: translateX(310.4vw);
        animation: custom_error_series_right_to_left__3S5oG 50s linear infinite
    }
}

@media screen and (min-width: 768px)and (min-width:1920px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_sf__AGuJb .custom_error_series_btm__IErtT {
        transform: translateX(5960px);
        animation: custom_error_series_right_to_left_over__8gS2Q 100s linear infinite
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_sf__AGuJb .custom_error_series_btm__IErtT {
        top: calc(50% + min(2.6075619296vw,20px)) !important;
        width: min(1738.591916558vw,13335px);
        height: min(33.1160365059vw,254px);
        transform: translateX(711vw);
        animation: custom_error_series_right_to_left__3S5oG 50s linear infinite
    }
}

@keyframes custom_error_series_left_to_right___ezCn {
    0% {
        transform: translateX(-310.4vw)
    }

    to {
        transform: translateX(min(0vw,0px))
    }
}

@keyframes custom_error_series_left_to_right_over__2dmnX {
    0% {
        transform: translateX(-5960px)
    }

    to {
        transform: translateX(0)
    }
}

@keyframes custom_error_series_right_to_left__3S5oG {
    0% {
        transform: translateX(310.4vw)
    }

    to {
        transform: translateX(min(0vw,0px))
    }
}

@keyframes custom_error_series_right_to_left_over__8gS2Q {
    0% {
        transform: translateX(5960px)
    }

    to {
        transform: translateX(0)
    }
}

@keyframes custom_error_series_left_to_right_sp__xTfIz {
    0% {
        transform: translateX(-711vw)
    }

    to {
        transform: translateX(0)
    }
}

@keyframes custom_error_series_right_to_left_sp__LwEn3 {
    0% {
        transform: translateX(711vw)
    }

    to {
        transform: translateX(0)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B, .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF {
    position: fixed;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    opacity: .6;
    z-index: 10
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B, .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF {
        width: min(10.9375vw,210px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B, .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF {
        width: min(5.2151238592vw,40px)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B span, .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF span {
    position: absolute;
    background: url(/6/assets/images/series/bg_roller.png) repeat-y;
    background-size: 100%
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B span, .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF span {
        width: min(10.8854166667vw,209px);
        height: min(510.4166666667vw,9800px)
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B span, .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF span {
        width: min(5.2151238592vw,40px);
        height: min(978.4876140808vw,7505px);
        background-size: min(20.8604954368vw,160px)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B {
    border-right: 1px solid #d8d8d8
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B {
        left: calc(50% - min(50vw,960px))
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B {
        left: 0;
        transform: translateY(-200vw)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B span {
    top: 0
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B span {
        animation: custom_error_series_top_to_bottom__bmqzC 50s linear infinite;
        transform: translateY(-204vw)
    }
}

@media screen and (min-width: 768px)and (min-width:1920px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B span {
        transform: translateY(-3920px);
        animation: custom_error_series_top_to_bottom_over__CQrwx 100s linear infinite
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_left__Bpw_B span {
        animation: custom_error_series_top_to_bottom_sp__IOY_I 100s linear infinite
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF {
    border-left: 1px solid #d8d8d8
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF {
        right: calc(50% - min(50vw,960px))
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF {
        right: 0;
        transform: translateY(200vw)
    }
}

.custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF span {
    bottom: 0
}

@media screen and (min-width: 768px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF span {
        animation: custom_error_series_bottom_to_top__5nZpL 50s linear infinite;
        transform: translateY(-204vw)
    }
}

@media screen and (min-width: 768px)and (min-width:1920px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF span {
        transform: translateY(3920px);
        animation: custom_error_series_bottom_to_top_over___u2Hl 100s linear infinite
    }
}

@media screen and (max-width: 767.9px) {
    .custom_error_series_wrapper__z2t56 .custom_error_series_bg__pyi0h .custom_error_series_bg_right__mXmyF span {
        animation: custom_error_series_bottom_to_top_sp__0DyLY 100s linear infinite
    }
}

@keyframes custom_error_series_top_to_bottom__bmqzC {
    0% {
        transform: translateY(-204vw)
    }

    to {
        transform: translateY(min(0vw,0px))
    }
}

@keyframes custom_error_series_top_to_bottom_over__CQrwx {
    0% {
        transform: translateY(-3920px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes custom_error_series_bottom_to_top__5nZpL {
    0% {
        transform: translateY(204vw)
    }

    to {
        transform: translateY(min(0vw,0px))
    }
}

@keyframes custom_error_series_bottom_to_top_over___u2Hl {
    0% {
        transform: translateY(3920px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes custom_error_series_top_to_bottom_sp__IOY_I {
    0% {
        transform: translateY(-200vw)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes custom_error_series_bottom_to_top_sp__0DyLY {
    0% {
        transform: translateY(200vw)
    }

    to {
        transform: translateY(0)
    }
}
